* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.carousel-container {
    position: relative;
    width: 1080px;
    max-width: 100%;
    height: 1350px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    width: 100%;
    height: 1350px;
    background-size: cover;
    background-position: center;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.carousel-slide {
    width: 1080px; /* Largura fixa */
    height: 1350px; /* Altura fixa */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
}
