body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.carrossel {
    position: relative;
    width: 1080px; /* Largura fixa para o espaço entre as setas */
    height: 1350px; /* Altura fixa para o espaço entre as setas */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carrossel-container img {
    width: 1080px; /* Largura fixa da imagem */
    height: 1350px; /* Altura fixa da imagem */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
    flex-shrink: 0; /* Impede que as imagens reduzam de tamanho */
}

.carrossel-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    z-index: 10; /* Garante que as setas fiquem acima das imagens */
}

.carrossel-btn:hover {
    opacity: 0.8;
}
